.titulo{
  margin: 1rem 0;
  padding-left: 1rem;
  background-color: #ccc;
}

.mab-1{
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.par-1{
padding-right: 1rem;
}
.campo {
  display: flex;
  margin-bottom: 1rem;
}

.campo label {
  flex-basis: 8rem;
}
.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo input[type="date"],
.campo textarea,
.campo select {
  flex: 0.5;
}

.campo input[type="file"]{
  margin-right: 1rem;
}


.barra-progreso{
width: 30%;
}
.formulario fieldset {
border: 1px solid black;
margin-bottom: 2rem;
}
.formulario legend {
background-color: #ccc;
width: 100%;
text-align: left;
color: white;
font-weight: 200;
text-transform: uppercase;
padding: 0.5rem;
margin-bottom: 1rem;
}

::ng-deep .material-tooltip {
white-space: pre-line;
}
/*gggggggggg*/
.file-input {
display: none;
}

.myform-wrapper {
margin: 50px;
width: 350px;
}
.mat-form-field {
    width: 100%;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;


}
/*  button {
  width: 30%;
}*/

#fileUpload {
position: absolute;
z-index: 9;
opacity: 0;
height: 100%;
width: 100%;
left: 0px;
top: 0px;
cursor: pointer;
}

.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.example-full-width {
width: 100%;
}
.btn-primary {
background-color: #0869c1;
border-color: #6c757d;
}


.card-category{
margin: 18px !important;
}

.bg-light {
background-color: #ffffff !important;
box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
}
fieldset {
padding: 20px;
border: solid 1px #c7c7c7c7;
}
fieldset legend {
color: #011b39e8;
}
/*MENU*/
.example-container {
height: 500px;
border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
display: flex;
height: 100%;
align-items: center;
justify-content: center;
}
.example-sidenav {
user-select: none;
}
.full-width {
width: 100%;
}
.menu-button {
transition: 300ms ease-in-out;
transform: rotate(0deg);
}
.menu-button.rotated {
transform: rotate(180deg);
}
.submenu {
overflow-y: hidden;
transition: transform 300ms ease;
transform: scaleY(0);
transform-origin: top;
padding-left: 30px;
}
.submenu.expanded {
transform: scaleY(1);
}
